body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    margin: 0;
    padding-top: 60px;
    background-color: #a7af8b;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin: 60px auto;
    font-size: 3rem;
    text-decoration: underline;
}

h2 {
    text-align: left;
    color: hsl(0, 0%, 100%);
    background-image: url(img/RIBBONS\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    margin: 60px 100px;
    font-size: 2rem;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;
    
}

.card-container.hidden {
    display: none;
    transition: height 0.3s ease;
}

.dropdown-toggle {
    cursor: pointer;
}


h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    background-color: #a7af8b;
    padding: 5px;
    width: 70%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.fa-searchengin {
    color: #ffffff;
    font-size: 24px;
    margin-left: 10px;
}

.navbar a, .logo {
    height: 100%;
    position: absolute;
    left: 5%;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 30%;
    max-width: 50%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 80px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn {
    padding: 10px 120px;
    border: none;
    background-color: hsl(73, 18%, 50%);
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: hsl(73, 18%, 30%);;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    max-width: 100%;
    width: 90%;
    margin: 20px auto;
}

.card {
    position: relative;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/ffllaagg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    z-index: -1;
}

.card-content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* New CSS for Popup Card */
.popup-card {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background-image: url(img/qwer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #191970;
    color: rgb(255, 255, 255);
    padding: 40px;
    width: 100%;
    max-width: 35%;
    max-height: 70vh;
    overflow-y: auto;
    text-align: center;
    position: relative;
}

.ingredients-list, .instructions-list {
    text-align: left;
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
}

.ingredients-list li, .instructions-list li {
    margin-bottom: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
}

.close-btn:hover {
    color: #ff0000;
}

.highlight {
    background-color: #ffeb3b;
    color: black;
}

.scroll-to-top {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.scroll-to-top:hover {
    background-color: hsl(177, 58%, 50%);
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}

footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.footer-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left p {
    margin: 0;
    font-size: 14px;
}

.footer-right a {
    margin-left: 20px;
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s;
}

.footer-right a:hover {
    color: hsl(177, 58%, 50%);
}

.footer-right i {
    font-size: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .button-container {
        margin: 20px auto;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .btn {
        padding: 10px 8px;
        font-size: 7px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        background-size: 100%;
        margin: 10px 60px;
        font-size: .8rem;
        padding-top: 70px;
    }

    h3 {
        font-size: 10px;
        padding: 5px;
        width: 70%;
    }
    
    .fa-searchengin {
        font-size: 20px;
        margin-left: 5px;
    }

    .navbar {
        padding: 10px 60px;
    }
    
    .navbar a, .logo {
        padding-top: 2px;
        height: 80%;
        left: 4%;
    }
    
    .search-bar {
        width: 40%;
        max-width: 50%;
        padding: 7px;
        border-radius: 5px;
        font-size: 10px;
        right: 10px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 30px;
        max-width: 90%;
        width: 100%;
    }
    
    .card-image {
        width: 100%;
        height: 100px;
    }
    
    .popup-content {
        padding: 20px;
        width: 100%;
        max-width: 70%;
        max-height: 35vh;
    }
    
    .ingredients-list, .instructions-list {
        margin: 0;
        padding: 0 10px;
        font-size: 12px;
    }
    
    .close-btn {
        top: 10px;
        right: 20px;
        font-size: 20px;
    }
    
}

@media (min-width: 481px) and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        position: static;
        margin-bottom: 10px;
    }

    .search-bar {
        width: 80%;
        margin: 0;
    }

    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}

@media (min-width: 769px ) and (max-width: 1024px) {

}
